# Configuration
config.json
config.json.example

# Build artifacts
build/
dist/
*.spec

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/

# Visual Studio Code
.vscode/

# Local history
.history/